<html>
<head>
<title>Upload file</title>
<script src="/static/js/lib/jquery-3.2.1.min.js"></script>
<script src="/static/js/lib/jquery.form.min.js"></script>
</head>
<body>
<form enctype="multipart/form-data" action="http://localhost:8090/multiUpload" method="post">
    <input type="file" name="files" multiple/>
    <input type="submit" value="upload" />
</form>
<div class="progress">
    <div class="bar"></div >
    <div class="percent">0%</div >
</div>
<div id="status"></div>

<script>
$(function() {
    var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');
    $('form').ajaxForm({
        beforeSend: function() {
            console.log("Hello, uploading file...")
            status.empty();
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            status.html(xhr.responseText);
            console.log(xhr)
        }
    });
});

// var fd = new FormData();
// fd.append( 'userfile', $('#userfile')[0].files[0]);
// $.ajax({
//   xhr: function() {
//     var xhr = new window.XMLHttpRequest();
//     xhr.upload.addEventListener("progress", function(evt) {
//       if (evt.lengthComputable) {
//         var percentComplete = evt.loaded / evt.total;
//         percentComplete = parseInt(percentComplete * 100);
//         console.log(percentComplete);
//         if (percentComplete === 100) {
//
//         }
//       }
//     }, false);
//     return xhr;
//   },
//   url: "",
//   type: "POST",
//   data: JSON.stringify(fd),
//   contentType: "multipart/form-data",
//   dataType: "json",
//   success: function(result) {
//     console.log(result);
//   }
// });
</script>
</body>
</html>
